mainmenu "BMS Configuration"

config PROJECT_BASE
    string
    option env="PROJECT_BASE"

source "Kconfig.zephyr"

source "$PROJECT_BASE/src/Kconfig"

menu "BMS Settings"

config BMS_BOOT_DEVICE
       string
       prompt "Boot device"
       default "GPIO_0"
       help
         The GPIO device name to be used for the BMS boot port

config BMS_BOOT_PIN
       int
       prompt "Boot pin"
       default 21
       help
         Specify the GPIO pin number to be used for the BMS boot pin

config BMS_ALERT_DEVICE
       string
       prompt "Alert device"
       default "GPIO_0"
       help
         The GPIO device name to be used for the BMS alert port

config BMS_ALERT_PIN
       int
       prompt "Alert pin"
       default 22
       help
         The GPIO pin number to be used for the BMS alert pin

config BMS_I2C_DEVICE
       string
       prompt "I2C device"
       default "I2C_0"
       help
         The I2C device to be used for communicating with BQ769x0

config BMS_BLINK_DEVICE
       string
       prompt "Blink device"
       default "GPIO_0"
       help
         The GPIO device name to be used for LED blinker

config BMS_BLINK_PIN
       int
       prompt "Blink pin"
       default 18
       help
         The GPIO pin number to be used for the LED blinker

config BMS_OVP_ENABLE
       int
       prompt "OVP enable"
       default 3550
       help
         The minimum cell voltage (specified in mV) at which over-voltage protection is enabled

config BMS_OVP_DISABLE
       int
       prompt "OVP disable"
       default 3400
       help
         The maximum cell voltage (specified in mV) at which over-voltage protection is disabled.
         This only applies while OVP is enabled.

config BMS_UVP_ENABLE
       int
       prompt "UVP enable"
       default 3000
       help
         The maximum cell voltage (specified in mV) at which under-voltage proection is enabled

config BMS_UVP_DISABLE
       int
       prompt "UVP disable"
       default 3100
       help
         The minimum cell voltage (specified in mV) at which under-voltage protection is disabled.
         This only applies whiel UVP is enabled.

config BMS_SCD_DELAY
       int
       prompt "SCD delay"
       default 10000
       help
         Time to wait (specified in ms) before clearing short-circuit error

config BMS_OCD_DELAY
       int
       prompt "OCD delay"
       default 10000
       help
         Time to wait (specified in ms) before cleaning over-current discharge error

endmenu
